{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Catalog - Details{% endblock %}

{% block css %}
{{ block.super }}
{% include 'materialize_css.html' %}
<link rel="stylesheet" href="{% static 'css/listing.css' %}" type="text/css" />

<link rel="stylesheet" href="{% static 'vendor/photoswipe/photoswipe.css' %}">
<link rel="stylesheet" href="{% static 'vendor/photoswipe/default-skin/default-skin.css' %}">

{% endblock %}

{% block style %}

{% endblock %}

{% block navbar %}
<style>

#mainNav .navbar-brand {
    color: Black;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: Black;
}

#map_canvas {
    height: 400px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border:1;
    background: yellow;
}

</style>
{{ block.super }}

{% endblock %}

{% block content %}
    {% if location.is_visible %}
        <section id="featured-slider">
          <div class="container-fluid">
              <div class="slider">
                <ul class="slides">
                    {% for item in images %}
                    <li>
                        <img src="{{ location.get_image_url }}" alt="{{ location.title }}" class="opaque">
                        <div class="caption center-align">
                            <h1>
                                {{ location.title }} <br/>
                                <small class="light text-lighten-3 hide-on-small-only">{{ location.summary | truncatechars:120 }} </small>
                            </h1>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
              </div>
          </div>

          <div class="container">
            <header class="col s12 m12 l10 offset-l1">
                <h1>{{ location.title }}</h1>
            </header>
            <section class="col s12 m12 l10 offset-l1">
                <p>{{ location.description }}</p>
                <div class="container">
                    <div class="row">
                        {% for item in images %}
                        <div class="card dpg-album-card">
                        <a class="class="col s12 m3" href="javascript:pswpInit({{ forloop.counter0 }});">
                            <img src="{{ item.thumb.url }}" class="responsive-img dpg-album-image" alt="{{ item.alt }}" />
                        </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section class="col s12 m12 l10 offset-l1" id="map_canvas">

            <footer class="col s12 m12 l10 offset-l1">
                Created on <time datetime="{{ location.created_date|date:"Y-m-d" }}">{{ location.created_date|date:"d M Y" }}</time>
                <p>Tags: {{ location.tags }}</p>
            </footer>
          </div>
        </section>

        <!-- PhotoSwipe -->
        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

            <!-- Background of PhotoSwipe.
                 It's a separate element as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>

            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">

                <!-- Container that holds slides.
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>

                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">

                    <div class="pswp__top-bar">

                        <!--  Controls are self-explanatory. Order can be changed. -->

                        <div class="pswp__counter"></div>

                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                        <button class="pswp__button pswp__button--share" title="Share"></button>

                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                        <!-- element will get class pswp__preloader--active when preloader is running -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                              <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>

                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>

                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>

                </div>

            </div>

        </div>
    {% else %}
        <h3>This location is temporarily unavailable.</h3>
    {% endif %}
{% endblock %}

{% block footer %}
{% include 'contact.html' %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% include 'materialize_js.html' %}
    <script src="{% static 'js/listing.js' %}"></script>

    <script src="{% static 'vendor/photoswipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'vendor/photoswipe/photoswipe-ui-default.min.js' %}"></script>

    <!-- Custom Google Map -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWtMhQhElBK49q9I_95oCzmBCee7G5JA0"></script>

    <script>
        // build the json album images collection
        window.djangoAlbumImages = [
            {% for item in images %}
                {
                    src: '{{ item.image.url }}',
                    w:  {{ item.width }},
                    h:  {{ item.height }}
                },
            {% endfor %}
        ];

        {% if location.is_visible %}
        var map, address;
        var geocoder = new google.maps.Geocoder();

        function initialize() {

          geocoder.geocode( {'address': '{{ location.street }},{{ location.city }}' },  function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();

                var mapOptions = {
                    zoom: 8,
                    center: new google.maps.LatLng(latitude, longitude),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                  };
                  map = new google.maps.Map(document.getElementById('map_canvas'),
                      mapOptions);
                  console.log("google map initialized");

                  console.log(map);
            }
          });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        {% endif %}
    </script>

{% endblock %}


{% block jquery %}
{% endblock %}


