{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Catalog - Details{% endblock %}

{% block css %}
{{ block.super }}
{% include 'materialize_css.html' %}
<link rel="stylesheet" href="{% static 'css/listing.css' %}" type="text/css" />

<link rel="stylesheet" href="{% static 'vendor/photoswipe/photoswipe.css' %}">
<link rel="stylesheet" href="{% static 'vendor/photoswipe/default-skin/default-skin.css' %}">

{% endblock %}

{% block style %}

{% endblock %}

{% block navbar %}
<style>

#mainNav .navbar-brand {
    color: Black;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: Black;
}

#map_canvas {
    height: 400px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border:1;
    background: yellow;
}

</style>
{{ block.super }}

{% endblock %}

{% block content %}
    {% if location.is_visible %}
        <section id="featured-slider">
            <div class="container">
            <form action="" method="post">
                {% csrf_token %}

                <div class="container">
                {% for field in form %}
                    <p>{{ field.label }} :{{ field }} </p>
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
                </div>
                <div class="container">
                <input type="submit" value="Submit" />
                </div>
            </form>
            </div>
        </section>
    {% else %}
        <h3>This location is temporarily unavailable.</h3>
    {% endif %}
{% endblock %}

{% block footer %}
{% include 'contact.html' %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% include 'materialize_js.html' %}
    <script src="{% static 'js/listing.js' %}"></script>

    <script src="{% static 'vendor/photoswipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'vendor/photoswipe/photoswipe-ui-default.min.js' %}"></script>

    <!-- Custom Google Map -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWtMhQhElBK49q9I_95oCzmBCee7G5JA0"></script>

    <script>
        // build the json album images collection
        window.djangoAlbumImages = [
            {% for item in images %}
                {
                    src: '{{ item.image.url }}',
                    w:  {{ item.width }},
                    h:  {{ item.height }}
                },
            {% endfor %}
        ];

        {% if location.is_visible %}
        var map, address;
        var geocoder = new google.maps.Geocoder();

        function initialize() {

          geocoder.geocode( {'address': '{{ location.street }},{{ location.city }}' },  function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();

                var mapOptions = {
                    zoom: 8,
                    center: new google.maps.LatLng(latitude, longitude),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                  };
                  map = new google.maps.Map(document.getElementById('map_canvas'),
                      mapOptions);
                  console.log("google map initialized");

                  console.log(map);
            }
          });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        {% endif %}
    </script>

{% endblock %}


{% block jquery %}
{% endblock %}

